<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dishes.css">
    <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">
    <title>Your Delicious Dishes</title>
</head>
<body>
    <header>
        <!-- Header content here -->
    </header>

    <section class="dishes">
        <h1>Your Delicious Dishes</h1>
        <h2>Max Price:</h2>
        <input type="number" id="max-price"/>
        <button id="search-button">Search</button>
        <div class="dishes-list">
            <% dishes.forEach(dish => { %>
                <div class="dish">
                    <a href="/dishes/productPage?id=<%= dish._id %>">
                        <img class="dish-img" src="<%= dish.imgUrl %>"/>
                        <div class="dish-name">
                            <h2><%= dish.name %></h2>
                        </div>
                    </a>
                    <p><%= dish.description %></p>
                    <p class="dish-price">Price: $<%= dish.price %></p>
                </div>
            <% }); %>
        </div>
    </section>

    <footer>
        <!-- Footer content here -->
    </footer>

    <script src="/js/common.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/dishes.js"></script>
</body>
</html>
