<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product.name %></title>
  <link rel="icon" type="image/png" href="/assets/images/takeout-bag.png">

</head>
<body>
  <header>
    <!-- Your header content here -->
  </header>

  <main>
    <section class="product-details">
      <h1><%= product.name %></h1>
      <img src="<%= product.imgUrl %>" alt="<%= product.name %>">
      <p><%= product.description %></p>
      <p>Price: <%= product.price %> ₪</p>
      <p>Category: <%= product.category %></p>
      <!-- Add more product information as needed -->
    </section>







    
  </main>
 
  <footer>
    <!-- Your footer content here -->
  </footer>
</body>
<script src="/js/common.js"></script>
</html>
